@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background-dark: 200 55% 10%;

      --background-black: 197 55% 5%;

      --background: 0 0% 100%;
      --foreground: 0, 0%, 100%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 184, 100%, 50%, 1;
      --primary-foreground: 200, 55%, 10%, 1;

      --secondary: 190, 67%, 52%;
      --secondary-foreground: 0, 0%, 100%;

      --muted: 192, 61%, 65%;
      --muted-foreground: 218, 15%, 11%, 1;

      --accent: 60 4.8% 95.9%;
      --accent-foreground: 24 9.8% 10%;

      --highlight: 42, 94%, 75%, 1;
      --highlight-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 192, 61%, 65%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;

      --bo-blue-light: 208 100% 95%;
      --bo-blue: 215 53% 45%;

      --bo-violet: 240 85% 68%;
      --bo-violet-light: 249 100% 99%;

      --bo-secondary: 240 4% 95%;
      --bo-secondary-foreground: 218 12% 13%;

      --bo-red: 3 91% 43%;

      --bo-green: 160 84% 29%;

      @media (min-width: 2560px) {
         font-size: 20px;
      }

      @media (min-width: 3840px) {
         font-size: 24px;
      }
   }

   /* .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
   } */
}

@layer base {
   * {
      @apply border-border;
   }

   body {
      @apply bg-background text-foreground;
   }
}
.rbc-date-cell {
   @apply !text-start;

   & .rbc-button-link {
      @apply p-3 !rounded-br-xl mb-2;
   }
}

.rbc-current {
   & .rbc-button-link {
      @apply !bg-blue-500 text-white;
   }
}

.rbc-today {
   @apply !bg-transparent;
}

.rbc-time-header-gutter {
   @apply hidden;
}

.rbc-allday-cell {
   @apply hidden;
}